.getApp{
    text-align: center;
    /* background-color: var(--clr-primary-4); */
    margin: 70px 0rem 0;
    padding: 2rem 0;
    border-radius: 5px 5px 0 0;
    height: 335px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.getApp h2{
    font-size:32px;
    font-weight: 500;
}
.getApp h4{
    font-weight: 400;
    margin-bottom: 24px;
}

.getApp .buttons img {
    width: 207px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .getApp h2{
        padding: 2rem 1rem;
    }

    .getApp{
        
        margin: 70px 3rem 0;
        padding: 15rem 0px;
        
    }
}

@media screen and (min-width:1367px){
    .getApp{
        margin: 70px 0rem 0;
    }
}