.donation-container{
    display: flex;
    margin: 5rem 5rem;
    justify-content: space-between;
}

.donation-description{
    flex: 2;
}

.donation-description p{
    width: 70%;
}
.donation-description h2{
    font-size: 2rem;
    color: var(--clr-primary-3);
    font-weight: 500;
}

.donation-form{
    flex: 1;
    
}

.donation-form form{
    display: flex;
    flex-direction: column;
}
.donation-form form input{
   padding: 0.7rem;
   border: none;
   border-bottom: 1px solid var(--clr-primary-1);
   margin-bottom: 2rem;
   font-size: 1.3rem;
   width: 100%;
   color:var(--clr-primary-1);
}

.donation-form form button{
    width: 200px;
}

.donation-form form select{
    padding-top: 1rem;
   padding-bottom: 1.3rem;
   border: none;
   border-bottom: 1px solid var(--clr-primary-1);
   margin-bottom: 2rem;
   font-size: 1.3rem;
}

.select-items{
    /* background-color: red; */
    padding: 1rem auto;
}

.select-items:hover{
    background-color: red;
}

#interval{
    display: flex;
    margin-bottom: 2rem;
}

.btn {
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
    overflow: hidden;
  }

  input[type="radio"].toggle {
    display: none;
  }
  input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
  }
  input[type="radio"].toggle + label:hover {
    background: none;
    color: #1a1a1a;
  }
  input[type="radio"].toggle + label:after {
    background: #1a1a1a;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
  }
  input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
  }
  input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
  }
  input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
  }
  input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
  }
  input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
  }
  input[type="radio"].toggle:checked + label:after {
    left: 0;
  }


@media screen and (max-width:800px) {
    .donation-container{
        display: flex;
        margin: 2rem 2rem;
        flex-direction: column;
    }

    .donation-description p{
        width: 90%;
    }
}

