.single-messagePlayer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 9rem;
    padding: 1rem 5rem;
    margin-bottom: 4rem;
    background-color: var(--clr-primary-4);
    
}


.single-messagePlayer .content{
    width: 100%;
}

.single-messagePlayer .video{
    width: 720px;
    border-radius: 15px;
}

.single-messagePlayer .video .video-source,
.single-messagePlayer .video iframe {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    margin: 2rem 0;
}

.single-messagePlayer 
.content p{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
}


.single-messagePlayer 
.content h2{
    font-size:40px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-transform: lowercase;
}

@media screen and (max-width:800px) {
    .single-messagePlayer{
        flex-direction: column;
        margin: 10px 2rem;
        padding: 2rem 1rem;
    }
    .single-messagePlayer .content{
        width: 100%;
    }

    .single-messagePlayer .video{
        width: 20rem;
        border-radius: 15px;
        margin-top: 30px;
        padding: 1rem;
    }

}

@media screen and (min-width:1367px) {
    .single-messagePlayer{
        margin: 5rem 20rem 7rem;
        padding: 2rem 5rem;
    }
}