.message-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
}

.message-container h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-style: italic;
}

.message-container #sendMessage{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    
}

.form{
    flex: 1;
}

#sendMessage input{
    padding: 18px;
    border: 1px solid var(--clr-primary-1);
    border-radius: 5px;
    border: none;
    background-color: var(--clr-primary-7);
}

#sendMessage textarea{
    border: none;
    border-radius: 5px;
    grid-column: 1/span 2;
    background-color: var(--clr-primary-7);
}

#sendMessage #check {
    margin-right: 1rem;
}

#checkLabel{
    grid-column: 1/span 2;
}

#sendMessage #message-btn{
    grid-column-start: 1;
    width: 180px;
}

.google-map{
   flex: 1;
   background-color: var(--clr-primary-4);
   border: 1px solid var(--clr-primary-1);
   margin: 2rem 2rem;
   width: 400px;
   height: 500px;
}

@media screen and (max-width:800px) {
    .message-container{
        flex-direction: column;
        align-items: center;
        padding: 3rem 1rem;
    }
}

