.needPrayers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 10rem 7rem;
    padding: 0px 0;
    background-color: var(--clr-primary-4);
}

.prayers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#chat{
    width: 100%;
}

.prayers .write-up {
    padding-left: 3rem;
    flex: 1;
}

.prayers .write-up {
    padding-left: 3rem;
    flex: 1;
    width: 50%;
}

.prayers .photo{
   
    height: 500px;
    background-color: var(--clr-primary-2);
    overflow: hidden;
    width: 50%;
}

.prayers .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


.prayers .write-up h3{
    /* font-style: italic; */
    line-height: 1.4;
    font-weight: 500;
    font-size: 32px;
   
}

.prayers .write-up p{
    /* font-style: italic; */
    line-height: 30px;
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    
}

@media screen and (max-width:800px) {
    .prayers{
        flex-direction: column;
    }

    
    .prayers .photo{
    width: 100%;
    /* height: 400px; */
    margin-bottom: 0rem;
}

.prayers .photo img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.needPrayers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 1rem;
    
}

.prayers .write-up {
    padding-left: 1rem;
    flex: 1;
    width: 100%;
}
.prayers .write-up .content{
    padding-left: 1rem;
    margin: 1rem;
}

.content button {
    margin-bottom: 2rem;
}
}

@media screen and (min-width:1367px){
    .needPrayers{
        
        margin: 5em 20rem 7rem;
       
    }
}

