.intro-container{
    /* height: 700px; */
    padding: 50px 5rem  80px;
    margin-bottom: 3rem;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-4);
    padding: 50px 2rem 80px;
}

.intro .content{
    /* width: 80%; */
    padding: 0 5rem;
}

.intro .content h2{
    font-size: 2rem;
    color: var(--clr-black);
    
}

.intro .content p{
    color: var(--clr-black);
    font-size: 16px;
}

.intro .image h5 {
    margin: 5px 0 5px;
    color: var(--clr-black);
    font-weight: 500;
    font-size: 20px;
}

.intro .image p{
    color: var(--clr-black) ;
    font-weight: 400;
    font-size: 16px;
}

.intro .image .intro-pix{
    height: 470px;
    width: 460px;
}

.intro .image .intro-pix img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 800px) {
    .intro-container{
        /* height: 700px; */
        padding: 30px 1rem;
        margin-bottom:5rem;
    }

    .intro{
        flex-direction: column;
    }
    .intro .content{
        /* width: 80%; */
        padding: 1rem 1rem;
    }

    .intro .image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        margin-bottom: 40px;
    }

    .intro .image img{
        width: 80%;
    }
}