.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 7rem 3rem 5rem;
}

.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .item-photo{
    background-color: var(--clr-primary-1);
    width: 200px;
    height: 270px;
    margin-right: 2rem;
}

.item-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-controls #increase, #decrease{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    padding: 0 2rem;
    font-weight: 500;
}

.cart .item-remove p{
    padding: 0 4rem;
}


@media screen and (min-width:1367px){
    .cart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 7rem 3rem 5rem;
    }
}