.contact-form{
    width: 50%;
    margin: -27rem 5rem 5rem;
}

.contact-form .main-form{
    display: flex;
    flex-direction: column;
}

.main-form label{
    margin: 1rem 0 5px;
}

.main-form input{
    padding: 10px;
    border: 1px solid var(--clr-primary-1);
    border-radius: 2px;
    width: 100%;
    color: var(--clr-primary-1);
    outline: none;
}

.main-form input::placeholder{
    color: var(--clr-primary-1);
}

.main-form input:focus{
    box-shadow: var(--light-shadow);
}

.main-form select{
    padding: 10px;
    border: 1px solid var(--clr-primary-1);
    border-radius: 2px;
    width: 100%;
    color: var(--clr-primary-1);
    outline: none;
}

select option{
   font-size:1.4rem;
   color: #000;
}





.main-form textarea{
    outline: none;
    padding: 10px;
    border: 1px solid var(--clr-primary-1);
    border-radius: 2px;
    width: 100%;
    color: var(--clr-primary-1);
    margin-bottom: 2rem;
}