.mission-container{
    text-align: center;
    margin: 2rem 0;
    color: var(--clr-primary-3)
}

.mission-container h2 {
    font-size: 40px;
    font-weight: 500;
   color: var(--clr-black);
}

.missions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 4rem 20px;
    /* padding: 30px 4rem; */
    text-align: center;
}

.mission{
    width: 363px;
    margin:0 1rem;
}

.mission .feature-photo{
    height: 272px;
    width: 363px;
    background-color: var(--clr-primary-4);
    margin-bottom: 1rem;
    border-radius: 6px;
    overflow: hidden;
}

.mission .feature-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission h3{
   font-size: 24px;
   color: var(--clr-black);
   font-style: italic;
   font-weight: 500;
}

.mission p{
    width: 100%;
    color: var(--clr-black);
    line-height: 30px;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}

.mission button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-black);
    margin-top: 1rem;
}

@media screen and (max-width:800px) {
    .missions{
        flex-direction: column;
        
    }

    .mission{
        margin-bottom: 3rem;
        
    }

    .mission:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: 0.15px solid var(--clr-primary-4);
    }

    .mission .feature-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width:1367px) {

    .mission{
    width: 33%;
    margin:0 1rem;
}

.mission .feature-photo{
    height: 363px;
    width: 100%;
}
    

    .mission p{
        width: 100%;
        padding: 5px 10px 5px;
    }

}