.resource-container{
    text-align: center;
    margin: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource-container .resource-banner{
    width: 100%;
    height: 342px;
    border-radius: 10px;
    background-color: var(--clr-primary-2);
    border: 1px solid #f2f2f8;
    margin-bottom: 2rem;
    overflow: hidden;
}

.resource-container .resource-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resource-container .resource-content{
    width: 80%;
}

.resource-container .resource-content p{
    text-align: left;
    line-height: 30px;
    font-size: 16px;
}

.resource-container .resource-content h2{
    font-size: 2rem;
    font-weight: 500;
}

.resource-container .resource-content
button{
    margin-right: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:800px) {
    .resource-container{  
        margin: 5rem 2rem;  
    }

    .resource-container .resource-content{
        width: 95%;
    }
}

@media screen and (min-width:1367px){
    .resource-container{
        margin: 5rem 20rem;
    }
}