.subtitle {
    text-align: center;
    color: var(--clr-primary-3);
    margin: 50px 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subtitle h2{
    font-size: 2rem;
    font-weight: 50;
}
.subtitle h4{
    font-size: 1rem;
    font-weight: 400;
}
.subtitle p{
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    color: var(--clr-primary-3);
}