.more-wrapper{
    padding: 5rem 10rem;
    border-top: 1px solid var(--clr-primary-1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.more-wrapper .resource-image{
    width: 35rem;
    height: 25rem;
    border-radius: 5px;
    overflow: hidden;
}

.resource-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.more-wrapper article{
    width: 80%;
    margin: 1rem 2rem;
}

.btn-links button{
    margin-right: 1rem;
}


@media (max-width:800px) {
    .more-wrapper{
    flex-direction: column;
    padding: 1rem 1rem;
    }

    .more-wrapper .resource-image{
        width: 25rem;
        height: 25rem;
       margin: auto;
    }
    .more-wrapper article h2{
        font-size: 2rem;
    }
}


@media (min-width:1367px){
    .more-wrapper{
        padding: 5rem 20rem;
    }
}