.footer-row{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
    background-color: var(--clr-primary-4);
}

footer .footer-row .widget1{
    flex: 1;
}

.footer-row ul {
    display: flex;
    flex-direction: column;
}

.footer-row ul a{
    color: var(--clr-black);
    text-transform: capitalize;
    padding: 0.2rem;
    
}

.footer-row ul a:hover{
    text-decoration: underline;
    font-weight: 600;
}

footer .footer-row .widget2{
    flex: 1;
}

footer .footer-row .widget3{
    flex: 1;
}

footer .footer-row .widget4{
    flex: 1;
}

.footer-row .widget4 .contact p span{
    font-weight: 700;
}

.footer-row .widget4 .social-media-contact ul{
    display: flex;
    flex-direction: row;
    padding: 0.2rem, 0.2rem 0.2rem 0rem;
}

.footer-row .widget4 .social-media-contact li{
    padding: 0.5rem;
    cursor: pointer;
}

.copyright{
    background-color: var(--clr-primary-1);
    margin: 0;
    padding: 5px 5rem;
}


@media screen and (max-width: 800px) {
    .footer-row{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-row ul{
        margin-bottom: 50px;
    }

    .footer-row .widget4 .social-media-contact ul{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .copyright{
        text-align: center;
        margin: 0;
        padding: 5px 1rem;
    }

}
