.beliefContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5rem;
    color: var(--clr-primary-3);
    /* padding-top: 5rem; */
    border-top: 1px solid var(--clr-primary-4);
}

.beliefContainer .beliefPhoto {
    width: 390px;
    height: 262px;
    border-radius: 6px;
    background-color: var(--clr-primary-2);
    overflow: hidden;
    flex: 1;
}

.beliefContainer .beliefPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.beliefContainer .beliefContent{
    padding: 0 2rem 2rem;
    flex: 1.8;
}

.beliefContainer .beliefContent p{
    width: 95%;
}

@media screen and (max-width:800px) {
    .beliefContainer{
        flex-direction: column;
        margin: 1rem 0.25rem;
        padding: 2rem 2rem;
    }

    .beliefContainer .beliefContent{
        padding: 1rem 0.4rem 1rem;
        flex: 1;
    }

    .beliefContainer .beliefContent p{
        width: 100%;
    }
}