.all-messages-container{
    padding: 40px 0rem;
    margin: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-messages-container h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--clr-primary-3);
}

.all-messages-container .message-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.all-messages-container .message-container
article{
    margin: 1rem;
}

.all-messages-container .message-container
article .video-frame{
    width: 264px;
    height: 264px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.all-messages-container .message-container
article .video-frame video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all-messages-container .message-container
article h4{
    color: var(--clr-primary-3);
}
.all-messages-container .message-container
article h5{
    color: var(--clr-primary-3);
}
.all-messages-container .message-container
article p{
    margin-top: 1rem;
}


.message-search {
    margin:30px 5rem 30px;
    width: 100%;
}

.message-search input {
    
    background-color: transparent;
    width: 94%;
    outline: none;
    border: 1px solid var(--clr-primary-1);
    padding: 10px 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left-color: transparent;
}

.message-search button{
    padding: 10px;
    outline: none;
    width: 3%;
    margin-left: 1rem;
    border: 1px solid var(--clr-primary-1);
    color: var(--clr-primary-3);
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right-color: transparent;
}
