.sales-List{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    align-items: center;
    margin-bottom:1rem ;
}

@media screen and (max-width:800px) {
    .sales-List{
        flex-direction: column;
    }
}




@media screen and (min-width:1367px) {
    .sales-List{
        padding: 1rem 20rem;
    }
}