.sales-List{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    margin-bottom:7rem ;
}

@media screen and (max-width:800px) {
    .sales-List{
        flex-direction: column;
    }
}