#slider{
    position: relative;
    height: 660px;
    min-height: 660px;
    background-color: var(--clr-primary-1);
    
}

.slide{
    position: relative;
    overflow: hidden;
}

#slider .slide .slide-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide-image img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#slider .slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    padding: 0 5rem;
    width: 100%;
    color: var(--clr-white);
}

.slide h1{
    margin-top: 2rem;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: var(--dark-shadow);
    z-index: 5;
    font-weight: 600;
}

.slide h5{
    color: #FCA44A;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    width: 70%;
    text-shadow: var(--dark-shadow);
    z-index: 6;
}

#slider .event-countdown{
    display: flex;
    align-items: center;
    padding: 0 5rem;
    height: 15%;
    color: var(--clr-white);
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgb(56, 9, 121) 54%, rgb(15, 0, 36) 100%);
}

@media screen and (max-width:800px) {
    #slider .slide{
        text-align: center;
        height: 75%;
    }

    .slide h1{
        font-size: 2rem;
        margin-top: 5rem;
        text-align: left;
    }

    .slide h5{
        font-size: 1.7rem;
        text-align: left;
        width: 90%;
    }

    #slider .event-countdown{
        padding: 0 10px;
        height: 25%;
    }
}